// Define color scheme
$color-primary: #ff8c00;
$color-secondary: #ff4500;
$color-text: #ffffff;
$card-background: #112d4e;
$hover-red: #ff0000;
$fav-icon-white: #dbe2ef;

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 30px;
  gap: 20px;
  background: url("https://thumbs.dreamstime.com/b/seamless-cinema-pattern-can-be-used-wallpaper-website-background-wrapping-paper-vector-bright-film-design-movie-74251212.jpg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 30px);
  flex-shrink: 0;
  margin-bottom: 30px;
  border: 2px solid transparent;
  background: $card-background;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 2px solid $color-primary;
  }
}
mat-card-title {
  font-size: 24px;
  margin-top: 10px;
}

mat-card-subtitle {
  font-size: 16px;
  padding-bottom: 10px;
  color: $color-text;
}

img {
  height: 400px;
  width: 275px;
  margin: auto;
  object-fit: cover;
  border-radius: 0.3rem;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 18px;
  color: $color-text;
  background-color: $color-primary;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-red;
  }
}

mat-icon {
  font-size: 22px;
  color: $color-primary;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-red;
  }
}

.movie-card-buttons {
  gap: 0.6rem;
}
