<div class="app-nav-bar">
  <h1 class="top-title">myFlix</h1>
  <div class="mat-buttons">
    <button style="color: white" mat-button (click)="toMovies()">Movies</button>
    <span></span>
    <button style="color: white" mat-button (click)="toProfile()">
      Profile
    </button>
    <span></span>
    <button
      style="color: white"
      mat-button
      (click)="logout()"
      class="logout-button"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="developer">
    <a
      href="https://jarjardinks.github.io/the-portfolio/"
      class="developer-link"
      target="_blank"
      rel="noreferer"
    >
      <img
        src="assets/developer_icon.gif"
        alt="developer-icon"
        class="developer-icon"
      />
    </a>
  </div>
</div>
